<section class="page-header">
  <h1 class="project-name">android-retain-fragment</h1>
  <h2 class="project-tagline">This project demonstrates how to create and use a Generic retain fragment to store any type of data across configuration changes.</h2>
  <a href="https://github.com/bcorso/android-retain-fragment" class="btn">View on GitHub</a>
  <a href="https://github.com/bcorso/android-retain-fragment/zipball/master" class="btn">Download .zip</a>
  <a href="https://github.com/bcorso/android-retain-fragment/tarball/master" class="btn">Download .tar.gz</a>
</section>