<section>
	<div class="container-fluid">
	<div class="row">
			<div class="jumbotron text-center page-header">
				<div>
					<h1>Android Retain Fragment</h1>
			  	<h2>A Guide to Reusable Retain Fragments in Android</h2>
				</div>

				<div class="space">
			  	<a href="https://github.com/bcorso/android-retain-fragment" class="btn">
			  			View on GitHub
			  		</a>
					<a href="https://github.com/bcorso/android-retain-fragment/zipball/master" class="btn">
							Download .zip
						</a>
					<a href="https://github.com/bcorso/android-retain-fragment/tarball/master" class="btn">
							Download .tar.gz
					</a>	
		  </div>
	  </div>
  </div>
</section>